<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.CheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewAllDepartmentServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.ViewAllDepartmentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValidateUsernameServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.ValidateUsernameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewAllEmployeesServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.ViewAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewAllEmployeesFYServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.ViewAllEmployeesFYServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApproveServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.ApproveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddDeleteDepartmentServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.AddDeleteDepartmentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MybookingsServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.MybookingsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MymeetingdetailsServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.MymeetingdetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CancelMeetingServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.CancelMeetingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MeetingroomsServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.MeetingroomsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomdetailsServlet</servlet-name>
    <servlet-class>com.chinasofti.meeting.controller.RoomdetailsServlet</servlet-class>
  </servlet>






  
  





  







  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/imageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewAllDepartmentServlet</servlet-name>
    <url-pattern>/admin/viewAllDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateUsernameServlet</servlet-name>
    <url-pattern>/validateUsername</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/registServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewAllEmployeesServlet</servlet-name>
    <url-pattern>/admin/viewAllEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewAllEmployeesFYServlet</servlet-name>
    <url-pattern>/admin/viewAllEmployeesFYServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApproveServlet</servlet-name>
    <url-pattern>/admin/approveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDeleteDepartmentServlet</servlet-name>
    <url-pattern>/admin/addDeleteDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MybookingsServlet</servlet-name>
    <url-pattern>/admin/mybookingsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MymeetingdetailsServlet</servlet-name>
    <url-pattern>/admin/mymeetingdetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CancelMeetingServlet</servlet-name>
    <url-pattern>/admin/cancelMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MeetingroomsServlet</servlet-name>
    <url-pattern>/admin/meetingroomsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomdetailsServlet</servlet-name>
    <url-pattern>/admin/roomdetailsServlet</url-pattern>
  </servlet-mapping>
  
  
  
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>